[popover] {
  position: fixed;
  z-index: 2147483647;
  inset: 0;
  padding: 0.25em;
  width: fit-content;
  height: fit-content;
  border-width: initial;
  border-color: initial;
  border-image: initial;
  border-style: solid;
  background-color: canvas;
  color: canvastext;
  overflow: auto;
  margin: auto;
}

[popover]:not(.\:popover-open) {
  display: none;
}

[popover]:is(dialog[open]) {
  display: revert;
}

[anchor].\:popover-open {
  inset: auto;
}

/* This older `:open` pseudo selector is deprecated
   and support will be removed in a later release. */
@supports selector([popover]:open) {
  [popover]:not(:open) {
    display: none;
  }

  [popover]:not(.\:popover-open, dialog[open]) {
    display: revert;
  }

  [anchor]:is(:open) {
    inset: auto;
  }
}

@supports selector([popover]:popover-open) {
  [popover]:not(:popover-open) {
    display: none;
  }

  [popover]:not(.\:popover-open, dialog[open]) {
    display: revert;
  }

  [anchor]:is(:popover-open) {
    inset: auto;
  }
}

@supports not (background-color: canvas) {
  [popover] {
    background-color: white;
    color: black;
  }
}

@supports (width: -moz-fit-content) {
  [popover] {
    width: fit-content;
    height: fit-content;
  }
}

@supports not (inset: 0) {
  [popover] {
    inset: 0;
  }
}
