[popover] {
  display: none;
  position: fixed;
  inset: 0;
  padding: 0.25em;
  width: fit-content;
  height: fit-content;
  border-width: initial;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  background: canvas;
  color: canvastext;
  overflow: auto;
  margin: auto;
}

[popover][anchor] {
  inset:auto;
  anchor-scroll: implicit;
}

/* stylelint-disable selector-class-pattern */
[popover].\:open {
  display: block;
  position: fixed;
  z-index: 2147483647;
}
/* stylelint-enable selector-class-pattern */

/* Necessary for compatibility with Chrome */
[popover]:not(:-internal-popover-hidden) {
  display: block;
}
