[popup='' i],
[popup='auto' i],
[popup='hint' i],
[popup='manual' i] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  width: fit-content;
  height: fit-content;
  border: 1px solid;
  background: white;
  color: black;
  overflow: auto;
  margin: auto;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 0;
  inset-block-end: 0;
}

/* stylelint-disable selector-class-pattern */
[popup='' i].\:open,
[popup='auto' i].\:open,
[popup='hint' i].\:open,
[popup='manual' i].\:open {
  display: block;
  position: fixed;
  z-index: 2147483647;
}
/* stylelint-enable selector-class-pattern */

@media (prefers-color-scheme: dark) {
  [popup='' i],
  [popup='auto' i],
  [popup='hint' i],
  [popup='manual' i] {
    background: black;
    color: white;
  }
}

/* Necessary for compatibility with Chrome */
[popup]:not(:-internal-popup-hidden) {
  display: block;
}
